h1 {
  /* display: inline-block; */
  font-family: 'Roboto Mono', monospace;
  transition: color 0.2s ease;
  color: grey;
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; 
  font-size: 16px;
}

h1:hover {
  color: black;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: 'Roboto Mono', monospace;
}

p {
  font-family: 'Roboto Mono', monospace;
}

.nav-projects_url {
  list-style: none;
}

.nav-projects_url li {
  margin-bottom: 5px;
  list-style: none;
}

.nav-projects_url li a {
  transition: color 0.2s ease;
  color: grey;
}

.nav-projects_url li a:hover {
  color: black;
}

.nav li {
  list-style: none;
}

.nav li a {
  transition: color 0.2s ease;
  color: grey;
}

.nav li a:hover {
  color: black;
}